<p id="notice"><%= notice %></p>

<h2>ボウリング場詳細</h2>

<p>
  <strong>センター名:</strong>
  <%= @bowling.name %>
</p>

<p>
  <strong>住所:</strong>
  <%= @bowling.address %>
</p>

<%= content_tag(:iframe,
'map',
src:'https://www.google.com/maps/embed/v1/place?key=AIzaSyAD4LXnmhYWDEJUrXjNd9kWy-c83SkGiDA&q=' + @bowling.address, 
width: 800,
height: 400,
frameborder: 0)
%>

<br>
<br>

<%= link_to 'Edit', edit_bowling_path(@bowling) %>
<%= link_to 'トップページ', bowlings_path %>
